<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Panels" value="U2FsdGVkX1+f3C+TzSBV52yzgMMjNa8=" />
    <add key="Configuration" value="c:\AMX1" />
    <add key="AmxInstance" value="1" />
    <add key="FakeMode" value="0" />
    <add key="MqttEnabled" value="false" />
    <add key="MqttBroker" value="localhost" />
    <add key="MqttPort" value="1883" />
    <add key="MqttTopicPrefix" value="drax" />
    <add key="CloseClientOnAmxLoss" value="false" />
  </appSettings>
</configuration>
