<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Panels" value="RSM" />
    <!--
    Valid Values =
      Advanced
      Email
      Gent
      MorleyMax
	  MorleyZX
	  Notifier
	  Pearl
	  RSM
	  Syncro
      Taktis
    -->
    <add key="Configuration" value="c:\amx1" />
    <!-- build temp, log, ini under this foler -->
    <add key="FakeMode" value="0" />
    <!-- 0 = off, 1 = on -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>