<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="DependencyFiles" Directory="INSTALLFOLDER">
      <Component Id="cmp_e_sqlite3_dll" Guid="D5E1A5E2-76EA-DFB5-7B1B-1EEDD1D7660E">
        <File Id="fil_e_sqlite3_dll" Source="$(var.Drax360Service.TargetDir)e_sqlite3.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Bcl_AsyncInterfaces_dll" Guid="B0B0C507-338E-EAF7-CC68-D700B554F9C5">
        <File Id="fil_Microsoft_Bcl_AsyncInterfaces_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Bcl.AsyncInterfaces.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Bcl_HashCode_dll" Guid="C9E27936-BFEC-BC37-2E71-7A24DF2EAEBA">
        <File Id="fil_Microsoft_Bcl_HashCode_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Bcl.HashCode.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Data_Sqlite_dll" Guid="4BC0A4DC-1DAE-EDA2-F6AE-7EF8019E06E7">
        <File Id="fil_Microsoft_Data_Sqlite_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Data.Sqlite.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_DotNet_PlatformAbstractions_dll" Guid="E86603B0-9CA7-AE5D-ADD4-28D1399A8D7A">
        <File Id="fil_Microsoft_DotNet_PlatformAbstractions_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.DotNet.PlatformAbstractions.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_EntityFrameworkCore_Abstractions_dll" Guid="631AB968-1FD0-06CC-153F-601A068939BE">
        <File Id="fil_Microsoft_EntityFrameworkCore_Abstractions_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.EntityFrameworkCore.Abstractions.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_EntityFrameworkCore_dll" Guid="74626E90-7BBE-18CA-CCD0-293BD3F2606A">
        <File Id="fil_Microsoft_EntityFrameworkCore_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.EntityFrameworkCore.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_EntityFrameworkCore_Relational_dll" Guid="26F6C7C8-86B4-9997-6C63-157FC8FE4081">
        <File Id="fil_Microsoft_EntityFrameworkCore_Relational_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.EntityFrameworkCore.Relational.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_EntityFrameworkCore_Sqlite_dll" Guid="557515F0-9F78-A53F-A50C-B63884A0D46C">
        <File Id="fil_Microsoft_EntityFrameworkCore_Sqlite_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.EntityFrameworkCore.Sqlite.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Extensions_Caching_Abstractions_dll" Guid="79BE2F28-CA44-B3A2-4F99-5F4EE6B76C93">
        <File Id="fil_Microsoft_Extensions_Caching_Abstractions_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Extensions.Caching.Abstractions.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Extensions_Caching_Memory_dll" Guid="751CE0D7-6376-9DEC-E9C6-B72CB724414B">
        <File Id="fil_Microsoft_Extensions_Caching_Memory_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Extensions.Caching.Memory.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Extensions_Configuration_Abstractions_dll" Guid="F4D82565-EA28-D7A3-1479-134D74BCEFE5">
        <File Id="fil_Microsoft_Extensions_Configuration_Abstractions_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Extensions.Configuration.Abstractions.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Extensions_Configuration_Binder_dll" Guid="1BCA6DB6-9D91-6EFD-EC8D-57E6EB854A46">
        <File Id="fil_Microsoft_Extensions_Configuration_Binder_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Extensions.Configuration.Binder.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Extensions_Configuration_dll" Guid="6782F666-0548-BC7A-E76E-CFC974E376F7">
        <File Id="fil_Microsoft_Extensions_Configuration_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Extensions.Configuration.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Extensions_DependencyInjection_Abstractions_dll" Guid="5997496B-6038-8717-A127-FBF148D46072">
        <File Id="fil_Microsoft_Extensions_DependencyInjection_Abstractions_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Extensions.DependencyInjection.Abstractions.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Extensions_DependencyInjection_dll" Guid="828AE85A-51F6-BA7F-E29E-13F3C704D1CC">
        <File Id="fil_Microsoft_Extensions_DependencyInjection_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Extensions.DependencyInjection.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Extensions_DependencyModel_dll" Guid="3B0F08C7-84ED-F92D-62D0-6086CFCBA24C">
        <File Id="fil_Microsoft_Extensions_DependencyModel_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Extensions.DependencyModel.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Extensions_Logging_Abstractions_dll" Guid="73EC0B74-06FF-4E9F-1CF5-E814619781D5">
        <File Id="fil_Microsoft_Extensions_Logging_Abstractions_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Extensions.Logging.Abstractions.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Extensions_Logging_dll" Guid="AC95355A-64B8-A49C-9BF3-FFA7AC401AF0">
        <File Id="fil_Microsoft_Extensions_Logging_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Extensions.Logging.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Extensions_Options_dll" Guid="0197CD3D-6E02-54BF-D37F-DE23DCEDC416">
        <File Id="fil_Microsoft_Extensions_Options_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Extensions.Options.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Extensions_Primitives_dll" Guid="8446077E-4E10-5286-9DD3-E84091CE833E">
        <File Id="fil_Microsoft_Extensions_Primitives_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Extensions.Primitives.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Newtonsoft_Json_dll" Guid="89BB0C3B-C207-AE0C-4D2D-76161A09582F">
        <File Id="fil_Newtonsoft_Json_dll" Source="$(var.Drax360Service.TargetDir)Newtonsoft.Json.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_SQLitePCLRaw_batteries_v2_dll" Guid="2CCE773F-FD53-136F-A6F2-259EDB5CBEAA">
        <File Id="fil_SQLitePCLRaw_batteries_v2_dll" Source="$(var.Drax360Service.TargetDir)SQLitePCLRaw.batteries_v2.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_SQLitePCLRaw_core_dll" Guid="BB1CE317-5348-C99C-8B1A-4F121AC38F10">
        <File Id="fil_SQLitePCLRaw_core_dll" Source="$(var.Drax360Service.TargetDir)SQLitePCLRaw.core.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_SQLitePCLRaw_provider_e_sqlite3_dll" Guid="15A6A51B-909E-6CF4-2EF3-937C85E9B611">
        <File Id="fil_SQLitePCLRaw_provider_e_sqlite3_dll" Source="$(var.Drax360Service.TargetDir)SQLitePCLRaw.provider.e_sqlite3.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_System_Buffers_dll" Guid="A2B90966-2C60-080D-CD40-D7CE714F02BE">
        <File Id="fil_System_Buffers_dll" Source="$(var.Drax360Service.TargetDir)System.Buffers.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_System_Collections_Immutable_dll" Guid="E9900A49-65AE-2B0D-4D23-1605B203820A">
        <File Id="fil_System_Collections_Immutable_dll" Source="$(var.Drax360Service.TargetDir)System.Collections.Immutable.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_System_ComponentModel_Annotations_dll" Guid="91866CB8-6E67-AB02-C65A-9F7ECD14FA43">
        <File Id="fil_System_ComponentModel_Annotations_dll" Source="$(var.Drax360Service.TargetDir)System.ComponentModel.Annotations.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_System_Diagnostics_DiagnosticSource_dll" Guid="A96AFCA1-EE86-A2C9-BCAB-B7CCD1C58EE8">
        <File Id="fil_System_Diagnostics_DiagnosticSource_dll" Source="$(var.Drax360Service.TargetDir)System.Diagnostics.DiagnosticSource.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_System_Memory_dll" Guid="23BEBEAD-94DD-07E0-3492-2690E3C231F5">
        <File Id="fil_System_Memory_dll" Source="$(var.Drax360Service.TargetDir)System.Memory.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_System_Numerics_Vectors_dll" Guid="EA819200-6222-900F-ED32-B06095C37C31">
        <File Id="fil_System_Numerics_Vectors_dll" Source="$(var.Drax360Service.TargetDir)System.Numerics.Vectors.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_System_Runtime_CompilerServices_Unsafe_dll" Guid="1AFD9C77-3AF6-D30B-8A27-6DA662D6BE2C">
        <File Id="fil_System_Runtime_CompilerServices_Unsafe_dll" Source="$(var.Drax360Service.TargetDir)System.Runtime.CompilerServices.Unsafe.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_System_Threading_Tasks_Extensions_dll" Guid="CE275138-438A-3958-D8A8-5A5093881FA0">
        <File Id="fil_System_Threading_Tasks_Extensions_dll" Source="$(var.Drax360Service.TargetDir)System.Threading.Tasks.Extensions.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="IniFiles" Directory="IniFolder">
      <Component Id="cmp_ini_AdvMan_ini" Guid="C4D1EC61-7D2E-17D5-52B4-F1FA3B3C400A">
        <File Id="fil_ini_AdvMan_ini" Source="$(var.Drax360Service.TargetDir)ini\AdvMan.ini" KeyPath="yes" />
      </Component>
      <Component Id="cmp_ini_EMLMan_ini" Guid="D1F10046-C926-C98C-082C-F6FAE5F1F0FD">
        <File Id="fil_ini_EMLMan_ini" Source="$(var.Drax360Service.TargetDir)ini\EMLMan.ini" KeyPath="yes" />
      </Component>
      <Component Id="cmp_ini_GenMan_ini" Guid="591E237D-04D2-1644-9B63-7A86A762D85E">
        <File Id="fil_ini_GenMan_ini" Source="$(var.Drax360Service.TargetDir)ini\GenMan.ini" KeyPath="yes" />
      </Component>
      <Component Id="cmp_ini_MAXMan_ini" Guid="67261917-827B-44EA-F5D0-27F33939B3BA">
        <File Id="fil_ini_MAXMan_ini" Source="$(var.Drax360Service.TargetDir)ini\MAXMan.ini" KeyPath="yes" />
      </Component>
      <Component Id="cmp_ini_Takman_ini" Guid="260E2648-4112-410D-55AB-04EB721E9FA7">
        <File Id="fil_ini_Takman_ini" Source="$(var.Drax360Service.TargetDir)ini\Takman.ini" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
