<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="DependencyFiles" Directory="INSTALLFOLDER">
      <Component Id="cmp_DraxTechnology_deps_json" Guid="F91FFF1A-1250-B428-8072-3F876BD74DA6">
        <File Id="fil_DraxTechnology_deps_json" Source="$(var.Drax360Service.TargetDir)DraxTechnology.deps.json" KeyPath="yes" />
      </Component>
      <Component Id="cmp_DraxTechnology_dll" Guid="AE6CC3F0-53A2-B8B8-8FEE-45AC74308185">
        <File Id="fil_DraxTechnology_dll" Source="$(var.Drax360Service.TargetDir)DraxTechnology.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_DraxTechnology_dll_config" Guid="4F1FE90E-849C-F00F-7C25-284A701D56CB">
        <File Id="fil_DraxTechnology_dll_config" Source="$(var.Drax360Service.TargetDir)DraxTechnology.dll.config" KeyPath="yes" />
      </Component>
      <Component Id="cmp_DraxTechnology_runtimeconfig_json" Guid="B93526DF-12D5-1A9A-FA9F-EEF7ED44736F">
        <File Id="fil_DraxTechnology_runtimeconfig_json" Source="$(var.Drax360Service.TargetDir)DraxTechnology.runtimeconfig.json" KeyPath="yes" />
      </Component>
      <Component Id="cmp_e_sqlite3_dll" Guid="D5E1A5E2-76EA-DFB5-7B1B-1EEDD1D7660E">
        <File Id="fil_e_sqlite3_dll" Source="$(var.Drax360Service.TargetDir)e_sqlite3.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Data_Sqlite_dll" Guid="4BC0A4DC-1DAE-EDA2-F6AE-7EF8019E06E7">
        <File Id="fil_Microsoft_Data_Sqlite_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Data.Sqlite.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_EntityFrameworkCore_Abstractions_dll" Guid="631AB968-1FD0-06CC-153F-601A068939BE">
        <File Id="fil_Microsoft_EntityFrameworkCore_Abstractions_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.EntityFrameworkCore.Abstractions.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_EntityFrameworkCore_dll" Guid="74626E90-7BBE-18CA-CCD0-293BD3F2606A">
        <File Id="fil_Microsoft_EntityFrameworkCore_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.EntityFrameworkCore.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_EntityFrameworkCore_Relational_dll" Guid="26F6C7C8-86B4-9997-6C63-157FC8FE4081">
        <File Id="fil_Microsoft_EntityFrameworkCore_Relational_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.EntityFrameworkCore.Relational.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_EntityFrameworkCore_Sqlite_dll" Guid="557515F0-9F78-A53F-A50C-B63884A0D46C">
        <File Id="fil_Microsoft_EntityFrameworkCore_Sqlite_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.EntityFrameworkCore.Sqlite.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Extensions_Caching_Abstractions_dll" Guid="79BE2F28-CA44-B3A2-4F99-5F4EE6B76C93">
        <File Id="fil_Microsoft_Extensions_Caching_Abstractions_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Extensions.Caching.Abstractions.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Extensions_Caching_Memory_dll" Guid="751CE0D7-6376-9DEC-E9C6-B72CB724414B">
        <File Id="fil_Microsoft_Extensions_Caching_Memory_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Extensions.Caching.Memory.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Extensions_Configuration_Abstractions_dll" Guid="F4D82565-EA28-D7A3-1479-134D74BCEFE5">
        <File Id="fil_Microsoft_Extensions_Configuration_Abstractions_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Extensions.Configuration.Abstractions.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Extensions_DependencyInjection_Abstractions_dll" Guid="5997496B-6038-8717-A127-FBF148D46072">
        <File Id="fil_Microsoft_Extensions_DependencyInjection_Abstractions_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Extensions.DependencyInjection.Abstractions.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Extensions_DependencyInjection_dll" Guid="828AE85A-51F6-BA7F-E29E-13F3C704D1CC">
        <File Id="fil_Microsoft_Extensions_DependencyInjection_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Extensions.DependencyInjection.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Extensions_DependencyModel_dll" Guid="3B0F08C7-84ED-F92D-62D0-6086CFCBA24C">
        <File Id="fil_Microsoft_Extensions_DependencyModel_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Extensions.DependencyModel.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Extensions_Logging_Abstractions_dll" Guid="73EC0B74-06FF-4E9F-1CF5-E814619781D5">
        <File Id="fil_Microsoft_Extensions_Logging_Abstractions_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Extensions.Logging.Abstractions.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Extensions_Logging_dll" Guid="AC95355A-64B8-A49C-9BF3-FFA7AC401AF0">
        <File Id="fil_Microsoft_Extensions_Logging_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Extensions.Logging.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Extensions_Options_dll" Guid="0197CD3D-6E02-54BF-D37F-DE23DCEDC416">
        <File Id="fil_Microsoft_Extensions_Options_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Extensions.Options.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_Microsoft_Extensions_Primitives_dll" Guid="8446077E-4E10-5286-9DD3-E84091CE833E">
        <File Id="fil_Microsoft_Extensions_Primitives_dll" Source="$(var.Drax360Service.TargetDir)Microsoft.Extensions.Primitives.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_MQTTnet_dll" Guid="1F0A11EC-0D35-4AF8-4134-F09562E9D495">
        <File Id="fil_MQTTnet_dll" Source="$(var.Drax360Service.TargetDir)MQTTnet.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_SQLitePCLRaw_batteries_v2_dll" Guid="2CCE773F-FD53-136F-A6F2-259EDB5CBEAA">
        <File Id="fil_SQLitePCLRaw_batteries_v2_dll" Source="$(var.Drax360Service.TargetDir)SQLitePCLRaw.batteries_v2.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_SQLitePCLRaw_core_dll" Guid="BB1CE317-5348-C99C-8B1A-4F121AC38F10">
        <File Id="fil_SQLitePCLRaw_core_dll" Source="$(var.Drax360Service.TargetDir)SQLitePCLRaw.core.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_SQLitePCLRaw_provider_e_sqlite3_dll" Guid="15A6A51B-909E-6CF4-2EF3-937C85E9B611">
        <File Id="fil_SQLitePCLRaw_provider_e_sqlite3_dll" Source="$(var.Drax360Service.TargetDir)SQLitePCLRaw.provider.e_sqlite3.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_System_CodeDom_dll" Guid="FC67817D-8CB1-DE11-1E88-9F506156C0F1">
        <File Id="fil_System_CodeDom_dll" Source="$(var.Drax360Service.TargetDir)System.CodeDom.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_System_Configuration_ConfigurationManager_dll" Guid="3FF9A826-C1CE-4F79-FDEC-1D66AC5D9F9A">
        <File Id="fil_System_Configuration_ConfigurationManager_dll" Source="$(var.Drax360Service.TargetDir)System.Configuration.ConfigurationManager.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_System_Diagnostics_EventLog_dll" Guid="3DD4021C-A972-81A9-209C-D5F1907FA3F7">
        <File Id="fil_System_Diagnostics_EventLog_dll" Source="$(var.Drax360Service.TargetDir)System.Diagnostics.EventLog.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_System_IO_Ports_dll" Guid="9E955980-39EA-9775-F9F3-73F40B15A9C4">
        <File Id="fil_System_IO_Ports_dll" Source="$(var.Drax360Service.TargetDir)System.IO.Ports.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_System_Management_dll" Guid="0FAD2BC3-6083-5F17-245D-8B4061164B1C">
        <File Id="fil_System_Management_dll" Source="$(var.Drax360Service.TargetDir)System.Management.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_System_Security_Cryptography_ProtectedData_dll" Guid="3C705919-1021-5E55-5309-AAB8CA791F65">
        <File Id="fil_System_Security_Cryptography_ProtectedData_dll" Source="$(var.Drax360Service.TargetDir)System.Security.Cryptography.ProtectedData.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_System_ServiceProcess_ServiceController_dll" Guid="6B04A3B5-9869-A779-D1FB-53D00D21A823">
        <File Id="fil_System_ServiceProcess_ServiceController_dll" Source="$(var.Drax360Service.TargetDir)System.ServiceProcess.ServiceController.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="IniFiles" Directory="IniFolder">
    </ComponentGroup>

    <ComponentGroup Id="WinRuntimeFiles" Directory="WinRuntimeDir">
      <Component Id="cmp_winrt_System_Diagnostics_EventLog_dll" Guid="F48B14F4-B455-D108-6688-92ABA44185A5">
        <File Id="fil_winrt_System_Diagnostics_EventLog_dll" Source="$(var.Drax360Service.TargetDir)runtimes\win\lib\net10.0\System.Diagnostics.EventLog.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_winrt_System_Diagnostics_EventLog_Messages_dll" Guid="40D8C017-F164-467B-F882-09CACB1EED1B">
        <File Id="fil_winrt_System_Diagnostics_EventLog_Messages_dll" Source="$(var.Drax360Service.TargetDir)runtimes\win\lib\net10.0\System.Diagnostics.EventLog.Messages.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_winrt_System_IO_Ports_dll" Guid="BA8F8BDB-470F-0704-0F29-FDB2FBCAF4A1">
        <File Id="fil_winrt_System_IO_Ports_dll" Source="$(var.Drax360Service.TargetDir)runtimes\win\lib\net10.0\System.IO.Ports.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_winrt_System_Management_dll" Guid="B41E1342-22B5-7A3F-F41D-D2D0EFE7BF1E">
        <File Id="fil_winrt_System_Management_dll" Source="$(var.Drax360Service.TargetDir)runtimes\win\lib\net10.0\System.Management.dll" KeyPath="yes" />
      </Component>
      <Component Id="cmp_winrt_System_ServiceProcess_ServiceController_dll" Guid="311540BC-62CA-0F6C-507F-FE4673F16659">
        <File Id="fil_winrt_System_ServiceProcess_ServiceController_dll" Source="$(var.Drax360Service.TargetDir)runtimes\win\lib\net10.0\System.ServiceProcess.ServiceController.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
